@import url('https://fonts.googleapis.com/css2?family=Ribeye&display=swap');

h3 {
    font-family: "Ribeye", serif;

}

body {
    background-color: rgb(204, 225, 231);
}

#rodape {
    background-color: white;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 15px;
}

#fundo {
    background-color: white;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 15px;
}

.card{
    min-height: 39vh;
}

iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    bottom: 0;
    border: 1px solid gray;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}